<tr>
    <td align="right" valign="top">
        Range question:
    </td>
    <td>
        <p>
            Question:<br/>
            <input type="text" size="45" maxlength="120" name="range_question_{{id}}" value="{{question}}"/>
        </p>

        <p>
            Options (one per line):<br/>
            <textarea name="range_options_{{id}}" rows="8" cols="60">{{optionsStr}}</textarea>
        </p>

    </td>
</tr>